



h1 {
    text-align: center;
    margin: 3em;
    color: red;
}

#BioPic {
    display: block;
    height: 400px;
    width: 250px;
}


img {
    display: inline;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

p1 {
    display: block;
    margin-top: 20px;
    text-align: center;
    margin: 3em;
}

hr {
    display: block; 
    margin: 5em;
    height: 10px;
    border-width: 3px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: blue;
}

h2 {
    display: block;
    text-align: center;
    color: blue;
}