body {
    background-image: url(../img/background_pattern.jpg)
}




ul li {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}





#navdiv {
    height: 100px;
    width: 100%;
    background-color: black;
}

#nav li {
    color: white; 
    margin-left: 5px;
    margin-right: 5px;
}
#home {
    background-color: black; 
    height: 600px; 
    margin-bottom: 50px; 
    margin-left: 50px; 
    margin-right: 50px; 
}

#about {
    background-color: black;
    margin-bottom: 50px; 
    margin-left: 50px;
    margin-right: 50px; 
    height: 100%;
}

#rage {
    margin-left: 75px;
}

#boogie {
    width: 275px;
    height: 325px; 
}

#mickey {
    width: 275px;
    height: 350px; 
}

#resume {
    background-color: black; 
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
}

#portfoliodiv {
    background-color: black; 
    margin-bottom: 50px; 
    margin-left: 50px; 
    margin-right: 50px;
    height: 700px; 
}




h1 {
    text-align: center;
    margin: 3em;
    color: red;
}

#BioPic {
    display: block;
    height: 400px;
    width: 250px;
}
#nav {
    list-style-type: none; 
}


#nav li {
    float: left;
    margin-right: 20px;
    color: blue;
}

img {
    display: inline-block;
    margin: 0 auto;
    height: 275px;
    width: 275px; 
     
}


#portfolio {
    list-style-type: none;
    margin-left: 50px; 
    margin-right: 50px; 
}

#portfolio li {
    float: left; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#rollie {
    border: 5px solid red; 
}


#pulp {
    border: 5px solid blue; 
}

#pinball {
    border: 5px solid red; 
}

#megaman {
    border: 5px solid blue; 
}

#logo {
    border: 5px solid red; 
}

#lebowski {
    border: 5px solid blue; 
}



p1 {
    display: block;
    margin-top: 20px;
    text-align: center;
    margin: 3em;
    color: white;
}

hr {
    display: block; 
    margin: 5em;
    height: 10px;
    border-width: 3px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

h2 {
    display: block;
    text-align: left;
    margin-left: 90px;
    color: blue;
}