/*Color Palette*/
.color-1 {
background: red;
}

.color-2 {
background: white;
}

.color-3 {
background: blue;
}

.color-4 {
background: black;
}

/*Textures and Patterns*/

.pattern-1 {
background: url("http://previews.123rf.com/images/tintin75/tintin751502/tintin75150200008/36463579-A-retro-patriotic-banner-with-a-grunge-texture-for-an-invitation-card-s-background--Stock-Vector.jpg") 100px 100px;
background-size: cover;
}

.pattern-2 {
    background: url("../img/American-Flag-Background-Texture-273494.jpg");
}

.pattern-3 {
    background: url("../img/pattern-3.jpg");
}

/*Images*/
.imagery-1 img {
    box-shadow: 
        5px 5px 0 red,
        10px 10px 0 white
        15px 15px 0 blue;
    height: 300px;
    width: 200px;
}

.imagery-2 img {
    height: 300px;
    width: 200px;
}

.imagery-3 img {
    width: 400px;
    height: 300px;
}

/*Icons*/
.icon-1 img {
    border: none;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon-1 {
    border: none;
}

.icon-2 img {
    border: none;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon-2 {
    border: none;
}

.icon-3 img {
    border: none;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon-3 {
    border: none;
}

/*Navigation*/

nav li {
    list-style: none;
    float: left;
}

nav a:link {
    background: red;
    border-bottom: 2px solid blue;
    border-radius: 5px;
    padding: 20px 20px 5px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a:focus {
    border: 10px solid red;
}

nav a:hover {
    background: white;
    color: red;
    margin-top: 20px;
}

nav a:active {
    background: black;
}


